<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>sbsn</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>loginadmin</servlet-name>
  <servlet-class>sbsn.loginadmin</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>loginadmin</servlet-name>
  <url-pattern>/index</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>logincustomer</servlet-name>
  <servlet-class>sbsn.logincustomer</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>logincustomer</servlet-name>
  <url-pattern>/customer</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>addplaces</servlet-name>
  <servlet-class>sbsn.adminaddplace</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>addplaces</servlet-name>
  <url-pattern>/addplace</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>addcustomer</servlet-name>
  <servlet-class>sbsn.adminaddcustomer</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>addcustomer</servlet-name>
  <url-pattern>/addcustomer</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>addbills</servlet-name>
  <servlet-class>sbsn.adminaddbill</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>addbills</servlet-name>
  <url-pattern>/addbill</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>deletebills</servlet-name>
  <servlet-class>sbsn.deletebill</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>deletebills</servlet-name>
  <url-pattern>/deletebil</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>deletecustomer</servlet-name>
  <servlet-class>sbsn.admindeletecustomer</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>deletecustomer</servlet-name>
  <url-pattern>/deletecustomer</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>updatebills</servlet-name>
  <servlet-class>sbsn.adminupdatebill</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>updatebills</servlet-name>
  <url-pattern>/updatebill</url-pattern>
  </servlet-mapping>
</web-app>